<strong> Olá, {{  student  }}!</strong>
<p>Segue em anexo todos os dados do seu plano.</p>
<p>
    <strong> Plano Selecionado: </strong>{{ plan }} <br/>
    <strong> Data de Início: </strong>{{ start }} <br/>
    <strong> Data de Encerramento: </strong>{{ end }} <br/>
    <strong> Duração do Plano: </strong>{{ planDuration }} meses <br/>
    <strong> Valor do plano Mensal: R$ </strong>{{ planPrice }},00 <br/>
    <strong> Valor total: R$ </strong>{{ pricef }},00 <br/>
     <br/>
     <small>
         Obrigado pelo seu cadastro, seja bem VINDO!
     </small>
</p>
